Source: libibmad
Priority: extra
Maintainer: Brian T. Smith <bsmith@systemfabricworks.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libibumad-dev (>= 1.3.10),
               libtool,
Standards-Version: 3.9.6
Section: libs
Homepage: https://www.openfabrics.org/downloads/management/

Package: libibmad-dev
Section: libdevel
Architecture: linux-any
Depends: libibmad5 (= ${binary:Version}),
         libibumad-dev (>= 1.3.10),
         ${misc:Depends},
Description: Development files for libibmad
 libibmad provides low layer Infiniband functions for use by the
 InfiniBand diagnostic and management programs. These include
 Management Datagrams (MAD), Subnet Administration (SA), Subnet
 Management Packets (SMP) and other basic functions.
 .
 This package is needed to compile programs against libibmad5.
 It contains the header files and static libraries (optionally)
 needed for compiling.

Package: libibmad5
Architecture: linux-any
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Infiniband Management Datagram (MAD) library
 libibmad provides low layer InfiniBand functions for use by the
 Infiniband diagnostic and management programs. These include
 Management Datagrams (MAD), Subnet Administration (SA), Subnet
 Management Packets (SMP) and other basic functions.
 .
 This package contains the shared library.

Package: libibmad5-dbg
Architecture: linux-any
Section: debug
Depends: libibmad5 (=${binary:Version}),
         ${misc:Depends},
Description: Debugging symbols for the libibmad5 library
 libibmad provides low layer InfiniBand functions for use by the
 Infiniband diagnostic and management programs. These include
 Management Datagrams (MAD), Subnet Administration (SA), Subnet
 Management Packets (SMP) and other basic functions.
 .
 This package contains the debugging symbols.
