#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
#export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie

%:
	dh $@ --parallel --with autoreconf

override_dh_strip:
	dh_strip --dbg-package=libibmad5-dbg

override_dh_installdocs:
	dh_installdocs --link-doc=libibmad5
